body {
  font-family: 'Microsoft YaHei',Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #007bff;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
h1 {
  color: #333;
  text-align: center !important;
}
h2 {
  color: #555;
  text-align: center;
}   
p {
  color: #666;
}
div.options {
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  /*padding: 10px;*/
  background-color:chocolate;
}


.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  align-content: end;
  margin-left: auto;
}